machine:
  install:
    disk: ${install_disk}
    image: factory.talos.dev/nocloud-installer/d3dc673627e9b94c6cd4122289aa52c2484cddb31017ae21b75309846e257d30:v1.10.6
    wipe: false
  network:
    hostname: ${hostname}

#customization:
#  systemExtensions:
#    officialExtensions:
#      - siderolabs/i915
#      - siderolabs/qemu-guest-agent