machine:
  install:
    disk: ${install_disk}
    image: factory.talos.dev/nocloud-installer/583560d413df7502f15f3c274c36fc23ce1af48cef89e98b1e563fb49127606e:v1.10.7
    wipe: false
  network:
    hostname: ${hostname}
